body{
    background-color: #BCA4C2;
}

#selectDropDown{
    width: 170px;
}
.DropDownSearch{
   
}

.card{
    border: 1px solid #ccc;
    margin-bottom: 24px;
    background-color: white;
    height: auto;
    max-height: 420px;
    max-width: 360px;
}

.MainContainer{
    margin: 0 auto;
    width: 90%;
}
.card-image img {
 width:100%;
    height: auto;
}
#cardArea {
    margin: 0 auto;
    text-align: center;
    height: 80px;
    
}
#cardArea span{
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1em;
}
#cardArea span small{
    color: gray;
}