<div class="row">
    <div class="col-xs-7 col-sm-3 col-md-3">

            <div class="form-group">
               
               
                <div class="form-group DropDownSearch" >            
                <ui-select ng-model="data.selectedSongs"  id="selectDropDown"theme="select2" style=" padding-top: 20px; ">
                    <ui-select-match style="height: 35px;" placeholder="Search Songs...">{{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="item in songs | filter: $select.search ">
                        <span ng-bind-html="item.title |  highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
    
                
                
                
                <div class="form-group">
                                <button type="button" class="btn btn-information" ng-click="data.selectedDifficulty = {}; data.selectedSongs = {}; ">Clear</button>

                </div>
            </div>

    

    </div>
    <div class="col-xs-5 col-sm-9 col-md-9" style="padding-right: 20px;">

      
            <div class="form-group pull-right DropDownSearch" >
               
                <ui-select ng-model="data.selectedDifficulty" id="selectDropDown"  theme="select2" style=" padding-top: 20px; ">
                    <ui-select-match  style="height: 35px;" placeholder="Sort By...">{{$select.selected.difficulty}}</ui-select-match>
                    <ui-select-choices repeat="item in songs | unique: 'difficulty' | filter: $select.search ">
                        <span ng-bind-html="item.difficulty | unique:'difficulty' |  highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
    

    </div>
    
    


</div>


<div ui-view></div>